/* Globais */

*{
    font-family: 'Montserrat', sans-serif;    
}

body{
    margin: 10vh 0 0 0;
    overflow-x: hidden;    
}

body::-webkit-scrollbar {
    width: 25px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #222;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border: solid black 2.5px;    
  }

/* Globais */

/* Navegação/Cabeçalho */

.navegacao{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    padding: 3vh 2vw; 
    margin: 0;   
    height: 2vh;
    max-height: 30px;
    gap: 3vw;
    
    
}

ul.navegacao{
    background-color: #f90;
}

ul a li{
    padding: 1vh;   
    list-style: none;
    
}

.navegacao .selecionado{
    border-bottom: solid #fff 3.5px;
 }
 
 .navegacao .naoselecionado{
     border-bottom: solid #f90 3.5px;
 }

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
    padding-bottom: 2px;
}

a:hover{
    font-weight: 900;
    color:#fff;
}

header{
    display: flex;
}

/* Navegação/Cabeçalho */

/* Projetos */

main{
    min-height: 71.5vh;
}

h2{
    display: flex;   
    justify-content: center;
}

.listaProjetos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 1vw;
}

.projetos{
    list-style: none;
    border: solid black 3px;
    width: 300px;
    display: flex;
    justify-content: initial;
    flex-direction: column;    
    margin: 1vh 1vw;
    border-radius: 10px;  
}

.projetosContent{
    padding: 1.5vh 10px;
    border-top: solid #222 3px;
    max-width: 280px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;

}

.imagensProjetos{
    width: 25vw;
    height: 35vh;
    width: 300px;
    max-height: 300px;
    
}

.projetoButton{
    background-color: whitesmoke;
    border: solid black 2px;
    color: black;
    font-size: 1.1em;
    border-radius: 10px;
    width: 17vw;
    max-width: 250px;
    min-height: 50px;
    height: 4.5vh;
    align-self: center;    
    font-weight: 600;
    transition: all 500ms;
    cursor: pointer;
    justify-self: flex-end;
}

.projetoButton:hover{
    background-color: black;
    color: whitesmoke;
    width: 19vw;
    max-width: 270px;
    font-weight: 900;
}

.buttonBackEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: solid black 2px;
    color: black;
    font-size: 1.1em;
    border-radius: 10px;
    width: 17vw;
    max-width: 250px;
    min-height: 45px;
    height: 4.3vh;
    align-self: center;    
    font-weight: 600;
    transition: all 500ms;
    cursor: pointer;
    justify-self: flex-end;
}

.buttonBackEnd:hover{
    background-color: black;
    color: whitesmoke;
    width: 19vw;
    max-width: 270px;
    font-weight: 900;
}

.DescricaoDosProjetos{
    height: 190px;
}


.emBreve{
    font-weight: 900;
    color: #444;
    font-size: 1.4em;
    transition: all 500ms;
    height: 5vh;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    max-width: 280px;
}


.emBreve:hover{
    color: rgb(255, 68, 101);
    transform: scale(1.05);
    cursor: not-allowed;
}


/* Projetos */

/* Projetos Modal */

#modal{
    width: 35vw;
    max-width: 600px;
    height: 28vh;
    max-height: 300px;
    display: flex;
    background-color: whitesmoke;
    color: black;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 1rem;  
}

.modalContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 35vw;
    max-width: 600px;
    gap: 2vw;
}

#sombra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sombra, #modal{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
    max-width: 600px;
    margin-bottom: 10px;
    border-bottom: 5px solid #ccc;
}

.closeImg{
    width: 4.0vw;
    height: 5vh;
    opacity: 0.9;
}

button.closeButton{
    width: 4vw;
    height: 5vh;     
    transition: opacity 500ms;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    padding: 0;
    border-width: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 1vh;
}

.closeButton:hover, .closeImg:hover{
    opacity: 1;
}

.modalTitle{
    font-size: 20px;
    text-align: center;
    width: 32vw;
    max-width: 550px;
    font-weight: 700;
}

.modalButton1, .modalButton2{
    border: solid black 2px;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    width: 13vw;
    max-width: 225px;
    height: 6vh;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 700ms;

}

.modalButton1:hover, .modalButton2:hover{
    background-color: black;
    color: whitesmoke;
}

#modal.hide, #sombra.hide{
    opacity: 0;
    pointer-events: none;
}

/* Projetos Modal */

/* Footer */

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

.fa-brands{
    font-size: 2.6em;    
    transition: color 500ms;
}

.iconBack{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: all 250ms;
}

.iconBack:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.1);
}

.imgLogo{
    width: 1.5vw;
    height: 1.5vh;
    min-width: 30px;
    min-height: 30px;
}

.listaFooter{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 3vh 0 0 1.5vw;
    margin: 0;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.link{
    padding: 0 0.3vw;
}

.rightsReserved{
    color: #ccc;
    font-size: 1em;
    text-align: center;
    padding: 0 0 2vh 2vw;
    height: auto;
}


/* Footer */


/* Adaptive Design For Mobile */

@media screen and (max-width : 480px){
    .navegacao{
        font-size: 3vw;
        justify-content: center;
        gap: 6vw;
        padding: 2vh 0;
    }

    .projetos{
        width: 70vw;
        border-radius: 10px;
    }

    a:hover{
        font-weight: 600;
    }

    .emBreve{
        font-size: 1.2em;
        transition: all 500ms;
        width: 65vw;
    }
    
    .projetoButton, .projetoButton:hover, .buttonBackEnd, .buttonBackEnd:hover{
        width: 55vw;
        margin-top: 15px;
    }

    .imagensProjetos{
        width: 70vw;
    }

    #modal{
        width: 90vw;
        height: 30vh;
        left: 5vw;
        right: 5vw;
    }

    .closeImg, button.closeButton{
        width: 11vw;        
    }

    button.closeButton{
        margin-right: 3vw;
        margin-bottom: 5vh;
    }


    .modalButton1, .modalButton2{
        width: 35vw;
    }

    .modalTitle{
        width: 80vw;
    }

    .modalHeader, .modalContent{
        width: 90vw;
        
    }

    .modalContent{
        height: 13vh;
        gap: 7vw;
    }

    .rightsReserved{
        font-size: .9em;
        max-width: 100vw;
    }
    
    .footer{
        height: 20vh;
    }

    .listaFooter{
        margin-top: 4vh;
        padding: 0;
        gap: 10vw;
    }

    p{
        height: auto;
    }

    .DescricaoDosProjetos{
        height: auto;
    }
}