*{
    font-family: 'Montserrat', sans-serif;    
}

.navegacao{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    margin: 3vh 0;    
    height: 5vh;
    
    
}

nav{
    background-color: #000;
    
}

ul a li{
    padding: 4.3vh 2vw;   
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    font-weight: 900;
    color:aqua;
}

header{
    display: flex;
}

body{
    margin: 0;
    overflow-x: hidden;
}

h2{
    display: flex;   
    justify-content: center;
}

.projetos{
    list-style: none;
    border: solid black 3px;
    width: 22vw;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh 1vw;
    margin: 1vh 1vw;   

    
}

.imagensProjetos{
    width: 22vw;
    height: 35vh;
    max-width: 300px;
}

button{
    background-color: whitesmoke;
    color: black;
    font-size: 1.5vw;
    border-radius: 10px;
    width: 15vw;
    max-width: 300px;
    height: 5vh;
    align-self: center;
    font-weight: 500;
    transition: all 500ms;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: whitesmoke;
    width: 17vw;
    font-weight: 900;
}

ul{
    display: flex;
    flex-direction: row;
    
}
/* Footer */

.footer{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgLogo{
    width: 3vw;
    height: 5vh;
    min-width: 40px;
    min-height: 60px;
}

.listaFooter{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    padding: 0 1vw;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vw;
}

/* Footer */

