/* Globais */

*{
    font-family: 'Montserrat', sans-serif;    
}

body{
    margin: 10vh 0 0 0;
    overflow-x: hidden;    
}

body::-webkit-scrollbar {
    width: 25px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #222;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border: solid black 2.5px;    
  }

/* Globais */

/* Navegação/Cabeçalho */

.navegacao{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    padding: 3vh 2vw; 
    margin: 0;   
    height: 2vh;
    max-height: 20px;
    gap: 3vw; 
    
}

ul.navegacao{
    background-color: #003;
}

ul a li{
    padding: 1vh;   
    list-style: none;
    
}

.navegacao .selecionado{
    border-bottom: solid #fff 3.5px;
 }
 
 .navegacao .naoselecionado{
     border-bottom: solid #003 3.5px;
 }

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    font-weight: 900;
    color:#fff;
}

header{
    display: flex;
}


/* Navegação/Cabeçalho */

/* Slides */

.slider{
    margin: 0 auto;
    width: 900px;
    height: 630px;
    overflow: hidden;
    border: solid black 1px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;

    }

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.primeiroSlide{
    transition: 500ms;
}

.slide img{
    width: 900px;
}

.navegacaoManual{
    position: absolute;
    width: 900px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.manualBtn{
    border: 2px solid #003;
    padding: 5px;
    border-radius: 10px; 
    cursor: pointer;
    transition: 500ms;
    opacity: 0;
}

.manualBtn:not(:last-child){
    margin-right: 40px;
}

.manualBtn:hover{
    background-color: #003;
}

#radio1:checked ~ .primeiroSlide{
    margin-left: 0;
}

#radio2:checked ~ .primeiroSlide{
    margin-left: -25%;
}

#radio3:checked ~ .primeiroSlide{
    margin-left: -50%;
}

.navegacaoAuto div{
    border: 2px solid #003;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;

}

.navegacaoAuto{
    position: absolute;
    width: 900px;
    margin-top: 570px;
    display: flex;
    justify-content: center;
    
}

.navegacaoAuto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacaoAuto .autoBtn1{
    background-color: #003;
}
#radio2:checked ~ .navegacaoAuto .autoBtn2{
    background-color: #003;
}
#radio3:checked ~ .navegacaoAuto .autoBtn3{
    background-color: #003;
}

/* Slides */

/* Seção Principal */

.secaoPrincipal{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 5vh 5vw;
    width: 100vw;
    overflow: hidden;
}

.cv{
    margin: 0 4vw;
    width: 40vw;
    height: 700px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 28vh;
}

/* Botão Download */

.botao{
    transform: translate(0%, 0%);
    height: 95px;
    width: 360px;
    background: black;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    overflow: hidden; 
}

.botao .content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .bx ,
.content .textoBotao{
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
}

.botao::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #4e4e4e;
    top: 0;
    left: -100%;
    border-radius: 55px;
}

.content .textoBotao{
    color: #FFF;
    font-size: 28px;
    margin-right: 8px;

}

.botao.active{
    height: 20px;
    width: 500px;
}

.botao.active .content{
    transform: translateY(60px);
    transition: all 0.2s ease;
    transition-delay: 0.2s;

}

.botao.active::before{
    animation: layer 1s ease-in-out forwards;
}

@keyframes layer {
    100%{
        left: 0%;
    }
}

.botao:hover .content .bx, .botao:hover .content .textoBotao{    
    font-weight: 900;
    color:#fff;
}

/* Botão Download */

/* Seção Principal */


/* Footer */

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fa-brands{
    font-size: 2.6em;    
    transition: color 500ms;
}

.iconBack{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: all 250ms;
}

.iconBack:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.1);
}

.imgLogo{
    width: 1.5vw;
    height: 1.5vh;
    min-width: 30px;
    min-height: 30px;
}

.listaFooter{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 4vh 0 0 1.5vw;
    margin: 0;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.link{
    padding: 0 0.3vw;
}

.rightsReserved{
    color: #ccc;
    font-size: 1em;
    text-align: center;
    padding: 0 0 0 2vw;
}


/* Footer */

@media screen and (max-width : 480px){
    .navegacao{
        font-size: 3vw;
        justify-content: center;
        gap: 6vw;
        padding: 2vh 0;
    }

    .secaoPrincipal{
        flex-flow: column wrap;
        margin: 2vh 0;
    }
    
    h2{
        font-size: 5vw;
    }
   
    .slides{
        height: 50vh;
    }

    .slider{
        height: 32vh;
        width: 100vw;
    }

    .slide img, .primeiroSlide img{
        width: 100vw;
    }

    .navegacaoManual, .navegacaoAuto{
        width: 100vw;
    }

    .navegacaoManual{
        margin-top: -21vh;
    }

    .navegacaoAuto{
        margin-top: 29vh;
    }

    .rightsReserved{
        font-size: 3vw;
        max-width: 100vw;
    }

    .cv{
        height: 20vh;
        width: 100vw;
        gap: 3vh;
        margin: 5vh 0;
    }

    .botao{
        width: 70vw;
        height: 8vh;
    }

    .botao.active{
        height: 2vh;
        width: 80vw;
    }

    .content .textoBotao{
        font-size: 5vw;
    }

    .content{
        gap: 1vw;
    }

    .footer{
        height: 20vh;
    }

    .listaFooter{
        padding: 0;
        gap: 10vw;
    }
}
