/* Globais */

*{
    font-family: 'Montserrat', sans-serif;    
}

body{
    margin: 10vh 0 0 0;
    overflow-x: hidden;    
}

body::-webkit-scrollbar {
    width: 25px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #222;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border: solid black 2.5px;    
  }

/* Globais */

/* Navegação/Cabeçalho */

.navegacao{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    padding: 3vh 2vw; 
    margin: 0;   
    height: 2vh;
    max-height: 30px;
    gap: 3vw;
    
    
}

ul.navegacao{
    background-color: #3077AB;
}

ul a li{
    padding: 1vh;   
    list-style: none;
    
}

.navegacao .selecionado{
    padding: 2.7vh;
    transition: all 100ms;
    border-bottom: solid #FE7A00 6.5px;
 }

 .navegacao .selecionado:hover{
    background-color: #3077BF;
 }
 
 .navegacao .naoselecionado{
     padding: 2.7vh;
     border-bottom: solid #3077AB 3.5px;
     transition: all 100ms;
 }

 .navegacao .naoselecionado:hover{
    background-color: #3077BF;
 }

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
    padding-bottom: 2px;
}

a:hover{
    font-weight: 900;
    color:#fff;
}

header{
    display: flex;
}



/* Navegação/Cabeçalho */

/* Informações Principais */

.titulosPrincipais{
    position: absolute; 
    top: 20%;
    left: 5%;
    display: block;
}

.nome, .profissao{
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    margin: 0;
}

.nome{
    text-align: initial;
    font-size: 4em;
    animation: digitando 1s steps(110, end) forwards;
  
}

.profissao{
    font-size: 2.2em;
    animation: digitando2 2.5s steps(110, end) forwards;
    padding-left: 1vw;
    text-align: center;
    font-weight: 500;
    
}

/* Informações Principais */

/* Seção Sobre */

h2{
    color: black;
    font-size: 1.3em;
    font-weight: bolder;
}

.sobre{    
    font-weight: 500;
    display: flex;
    flex-flow: column wrap;
}

.sobrediv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

.subtituloSobre{
    margin-top: 300px;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

.ModalGR{
    color: #000;
    transition: all 200ms;
}

.Modal{
    color: #3077AB;
}

.GR{
    color: #FE7A00;
}

.ModalGR:hover{
    font-size: 1.1rem;
}

.imgHome{
    margin: 2vh 2vw;
    padding: 0 10px;
    border-radius: 60px;
    width: 300px;
    max-height: 400px;
    cursor: pointer;
    transition: all 300ms;
}

.imgHome:hover{
    transform: scale(1.1);
}

p{
    font-size: 0.8vw;
    padding: 1vh 1vw;
    max-width: 30vw;
}

.sobreTexto{    
    font-size: 1em;
    height: 400px;
    max-width: 300px;
    text-align: initial;
    letter-spacing: 1px;
    border-left: solid black 3px;
    padding-left: 3vw;
}

/* Seção Sobre */

/* Seção Conquistas */


h3{
    margin: 0 0 1vh 0;
    font-size: 1.1em;
    width: 23vw;
}


.divConquistas{
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin: 6vh auto;
}

.conquistasTitulo{
    text-align: center;
    padding-top: 5vh;
    font-size: 2em;
}

.icone{
    max-width: 50px;
    max-height: 50px;
}

.projetosConcluidos, .linguagensEstudadas, .softskills{
    display: flex;
    flex-flow: row wrap;
    width: 27vw;
    gap: 1.5vw;
}

.secaoConquistasContent{
    width: 20vw;
}

.textoConquista{
    padding: 0;
    font-size: 1em;
    width: 20vw;
}

/* Seção Conquistas */

/* Footer */

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fa-brands{
    font-size: 2.6em;    
    transition: color 500ms;
}

.iconBack{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: all 250ms;
}

.iconBack:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.1);
}

.imgLogo{
    width: 1.5vw;
    height: 1.5vh;
    min-width: 30px;
    min-height: 30px;
}

.listaFooter{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 3vh 0 0 1.5vw;
    margin: 0;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.link{
    padding: 0 0.3vw;
}

.rightsReserved{
    color: #ccc;
    font-size: 1em;
    text-align: center;
    padding: 0 0 2vh 2vw;
}


/* Footer */

@media screen and (max-width : 480px){
    .navegacao{
        font-size: 3vw;
        justify-content: center;
        gap: 6vw;
        padding: 2vh 0;
    }

    .navegacao .selecionado{
        padding: 2vh 0;
        border-bottom: solid #FE7A00 4.5px;
    }

    .navegacao .naoselecionado{
        padding: 2vh 0;
    }

    .titulosPrincipais{
        left: 10%;
    }

    .nome{
        font-size: 2.5em;
    }

    .profissao{
        font-size: 1.5em;
        text-align: initial;
        padding-left: 10vw;
    }

    .subtituloSobre{
        font-size: 1.1em;
        margin-bottom: 3vh;
    
    }

    .imgHome{
        max-width: 125px;
        height: 230px;
        margin: 0;
        border-radius: 30px;
    }

    .sobreTexto{
        font-size: .7em;
        max-width: 60vw;
        padding: 0 3vw;
        min-height: 26vh;
        height: auto;
        border: none;
    }
    

    .conquistasTitulo{
        padding-top: 8vh;
        font-size: 1.1em;
    }

    .secaoConquistas{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .projetosConcluidos, .linguagensEstudadas, .softskills{
        width: 90vw;
        display: flex;
        gap: 5vw;
    }
    
    .divConquistas{
        flex-flow: column wrap;
    }

    .secaoConquistasContent{
        display: flex;
        flex-direction: column;
    }

    .textoConquista{
        font-size: 3.4vw;
        min-width: 70vw;
        margin: 0 0 1vh 0;
    }

    h3{
        width: 70vw;        
    }


    .rightsReserved{
        font-size: .9em;
        max-width: 100vw;
    }

    
    .footer{
        height: 20vh;
    }

    .listaFooter{
        margin-top: 4vh;
        padding: 0;
        gap: 10vw;
    }

    a:hover{
        font-weight: 600;
    }
    
    
}

@keyframes digitando {
    0%{width: 0%;}
    5%{width: 0%;}
    100%{ width: 100%; } 
}

@keyframes digitando2 {
    0%{width: 0%;}
    40%{width: 0%;}
    100%{ width: 100%; }
}