*{
    font-family: 'Montserrat', sans-serif;    
}

.navegacao{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    margin: 3vh 0;    
    height: 5vh;
    gap: 3vw;
    
    
}

nav{
    background-color: #000;
    
}

ul a li{
    padding: 1vh;   
    list-style: none;
    
}

.navegacao .selecionado{
    border-bottom: solid aqua 3.5px;
 }
 
 .navegacao .naoselecionado{
     border-bottom: solid black 3.5px;
 }

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    font-weight: 900;
    color:aqua;
}

header{
    display: flex;
}

h2{
    color: black;
    font-size: 2vw;
    font-weight: bolder;
}

.sobre{    
    text-align: center;
    font-weight: 900;
}

body{
    margin: 0 0;    
}

.sobrediv{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.imgHome{
    width: 50vw;
    height: 50vh;
    margin: 2vh 5vw;
}

p{
    align-self: center;
    font-size: 1.7vw;
    padding: 10vh 10vw;
}

.footer{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body{
    overflow-x: hidden;
}

.imgLogo{
    width: 3vw;
    height: 5vh;
    min-width: 40px;
    min-height: 60px;
}

.listaFooter{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.link{
    padding: 0 1vw;
}

h2::after{
    display: block;
    content: "";
    margin: 5px auto;
    background-color: aqua;
    width: 12vw;
    height: 5px;
    border-radius: 3px;
}

