/* Globais */

*{
    font-family: 'Montserrat', sans-serif;    
}

body{
    margin: 10vh 0 0 0;
    overflow-x: hidden;    
}

body::-webkit-scrollbar {
    width: 25px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #222;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border: solid black 2.5px;    
  }

/* Globais */

/* Navegação/Cabeçalho */

.navegacao{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100vw;
    padding: 3vh 2vw; 
    margin: 0;   
    height: 2vh;
    max-height: 20px;
    gap: 3vw; 
    
}

ul.navegacao{
    background-color: #003;
}

ul a li{
    padding: 1vh;   
    list-style: none;
    
}

.navegacao .selecionado{
    border-bottom: solid #fff 3.5px;
 }
 
 .navegacao .naoselecionado{
     border-bottom: solid #003 3.5px;
 }

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    font-weight: 900;
    color:#fff;
}

header{
    display: flex;
}


/* Navegação/Cabeçalho */

/* Seção Formulário */

main{
    display: flex;
    justify-content: center;
    background-color: rgba(220,220,220);
    min-height: 74vh;
}

.secaoFormulario{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1vh;
    align-items: center;
    width: 75vw;
    height: 60vh;
    margin: 5vh 10vw;
    border: solid black 1px;
    background-color: #fff;
    border-radius: 10px;
}

.hide{
    display: none;
 }

 .formularioPadrao{
    position: absolute;
    top: 10vh;
    margin: 3vh 0;
    padding: 3vh 0;
    border-bottom: solid #bbb 5px;
 }

input
 {
    height: 3vh;
    width: 30vw;     
    border-radius: 12px;
    border: solid;
    border-color: rgb(204, 204, 204);
    background-color: whitesmoke;
    text-align: center;
 }

 textarea
 {
    height: 15vh;
    width: 30vw;
    border-radius: 12px;
    border: solid;
    border-color: rgb(204, 204, 204);
    background-color: whitesmoke;
    text-align: center;   
 } 

 h3{
    width: 70vw;
    text-align: center;
 }
 
 /* e-mail */

 .emailFormulario{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;    
    width: 75vw;
    padding-top: 11vh;

 }

 .buttonSendEmail, .buttonSendWhatsapp{
    font-size: 16px;
    color: black;
    border: solid black 2px;
    border-radius: 10px;
    width: 17vw;
    max-width: 350px;
    height: 6vh;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 700ms;
    text-decoration: none;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
 }

 .buttonSendEmail:hover{
    background-color: black;
    color: whitesmoke;
 }

 /* e-mail */

 #selectContact{
    width: 30vw;
    margin: 0 20.0vw;
    text-align: center;
 }

 .buttonSendWhatsapp:hover{
    background-color: #25d366;
    color: whitesmoke;
 }

 .whatsappFormulario{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding-top: 12vh;
 }

 /* Telefone */

 .telefoneContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .numeroTelefone{
    font-size: xx-large;
    font-weight: 900;
    padding: 1vh 1vw;
    border: solid black 3px;
    border-radius: 10px;
    background-color: #024;
    color: whitesmoke;
 }

 .telefoneLink{
    display: flex;
    color: black;
    width: 20vw;
    max-width: 300px;
    border: solid black 1px;
    border-radius: 7.5px;
    align-items: center;
    justify-content: center;
    height: 4vh;
    font-weight: 700;
    font-size: large;
    transition: background-color 700ms;
 }

 .telefoneLink:hover{
    background-color: black;
    color: whitesmoke;
 }

  /* Telefone */

 /* Seção Formulário */

 /* Footer */

 .footer{
    background-color: black;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fa-brands{
    font-size: 2.6em;    
    transition: color 500ms;
}

.iconBack{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #222;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    transition: all 250ms;
}

.iconBack:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.1);
}

.imgLogo{
    width: 1.5vw;
    height: 1.5vh;
    min-width: 30px;
    min-height: 30px;
}

.listaFooter{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 4vh;
    margin: 0;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.link{
    padding: 0 0.3vw;
}

.rightsReserved{
    color: #ccc;
    font-size: 1em;
    text-align: center;
    padding: 0 0 0 2vw;
}


/* Footer */

@media screen and (max-width : 480px){

    .navegacao{
        font-size: 3vw;
        justify-content: center;
        gap: 6vw;
        padding: 2vh 0;
    }

    .secaoFormulario{
        margin: 5vh 5vw;
        width: 85vw;
        overflow: hidden;
    }
    
    #selectContact{
        width: 65vw;
        margin: 0;
        text-align: center;
    }

    .formularioPadrao{
        width: 85vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        gap: 2vh;
        margin: 5vh 0;
        
    }

    h3{
        width: 85vw;
        margin: 0;
    }

    .input, .textarea, .buttonSendEmail
    ,.textareaWhatsapp, .buttonSendWhatsapp
    ,.telefoneLink{
        width: 65vw;
    }

    .rightsReserved{
        font-size: 3vw;
        max-width: 100vw;
    }

    .footer{
        height: 20vh;
    }

    .listaFooter{
        padding: 0;
        gap: 10vw;
    }
}